.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  grid-template-columns: minmax(min-content, max-content);
  padding: 8rem;
  padding-top: 4rem;
  justify-content: center;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-row-gap: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seenon-text {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: 1.5rem;

    // display: grid;
    // grid-template-columns: 1fr max-content 1fr;
    // align-items: center;
    // gap: 5px;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    img {
      width: 0;
      min-width: 18%;
      filter: brightness(0.7);
    }
  }
}
